.note {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 500px;
    box-sizing: border-box;
    padding: 10px 0 0 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
}
@media all and (max-width: 500px) {
    .note {
        width: 250px;
    }
}
.textarea {
    width: 100%;
    border: 0;
    resize: none;
    padding: 0;
    height: 31px;
}
.textarea:focus {
    outline: none;
}
.img-wrapper {
    position: relative;
}
.img-wrapper:hover .img-delete-btn{
    display: block;
}
.img {
    width: 100%;
}
.img-delete-btn {
    position: absolute;
    display: none;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
.img-choose-btn {
    display: none;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -12px;
    left: -12px;
    cursor: pointer;
}

.note:hover .img-choose-btn {
    display: block;
}

