.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    box-sizing: border-box;
    margin: 30px auto 0;
    align-items: center;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.row > div {
    margin: 0 auto 10px;
    width: 210px;
}
